.wpb_eltdf_accordion_tab,
.wpb_eltdf_elements_holder_item,
.wpb_eltdf_tab,
.wpb_eltdf_vertical_split_slider_left_panel,
.wpb_eltdf_vertical_split_slider_right_panel {
	background-color: #f4f4f4;
}

.extended-custom-icon{
	background-image: url('img/vc-extend.png');
}
.extended-custom-icon.icon-wpb-portfolio{
	background-position: 0 0;
}
.extended-custom-icon.icon-wpb-portfolio-project-info{
	background-position: -32px 0;
}
.extended-custom-icon.icon-wpb-portfolio-slider{
	background-position: -64px 0;
}
.extended-custom-icon.icon-wpb-testimonials{
	background-position: -96px 0;
}
.extended-custom-icon.icon-wpb-masonry-gallery{
	background-position: -128px 0;
}
.extended-custom-icon.icon-wpb-accordion{
	background-position: -160px 0;
}
.extended-custom-icon.icon-wpb-accordion-tab{
	background-position: -192px 0;
}
.extended-custom-icon.icon-wpb-animation-holder{
	background-position: -224px 0;
}
.extended-custom-icon.icon-wpb-banner{
	background-position: -256px 0;
}
.extended-custom-icon.icon-wpb-blog-list{
	background-position: -288px 0;
}
.extended-custom-icon.icon-wpb-button{
	background-position: -320px 0;
}
.extended-custom-icon.icon-wpb-call-to-action{
	background-position: -352px 0;
}
.extended-custom-icon.icon-wpb-clients-boxes{
	background-position: -384px 0;
}
.extended-custom-icon.icon-wpb-clients-boxes-item{
	background-position: -416px 0;
}
.extended-custom-icon.icon-wpb-clients-carousel{
	background-position: -448px 0;
}
.extended-custom-icon.icon-wpb-clients-carousel-item{
	background-position: -480px 0;
}
.extended-custom-icon.icon-wpb-countdown{
	 background-position: -512px 0;
}
.extended-custom-icon.icon-wpb-counter{
	background-position: -544px 0;
}
.extended-custom-icon.icon-wpb-elements-holder{
	background-position: -576px 0;
}
.extended-custom-icon.icon-wpb-elements-holder-item{
	background-position: -608px 0;
}
.extended-custom-icon.icon-wpb-gallery-blocks{
	background-position: -672px 0;
}
.extended-custom-icon.icon-wpb-google-map{
	background-position: -704px 0;
}
.extended-custom-icon.icon-wpb-icon{
	background-position: -736px 0;
}
.extended-custom-icon.icon-wpb-icon-list-item{
	background-position: -768px 0;
}
.extended-custom-icon.icon-wpb-icon-with-text{
	 background-position: -800px 0;
}
.extended-custom-icon.icon-wpb-image-gallery{
	background-position: -832px 0;
}
.extended-custom-icon.icon-wpb-image-with-text{
	background-position: -864px 0;
}
.extended-custom-icon.icon-wpb-item-showcase{
	background-position: -896px 0;
}
.extended-custom-icon.icon-wpb-item-showcase-item{
	background-position: -928px 0;
}
.extended-custom-icon.icon-wpb-message-box{
	background-position: -960px 0;
}
.extended-custom-icon.icon-wpb-pie-chart{
	background-position: -992px 0;
}
.extended-custom-icon.icon-wpb-pricing-tables{
	background-position: -1024px 0;
}
.extended-custom-icon.icon-wpb-pricing-table{
	background-position: -1056px 0;
}
.extended-custom-icon.icon-wpb-progress-bar{
	background-position: -1088px 0;
}
.extended-custom-icon.icon-wpb-product-info{
	background-position: -1120px 0;
}
.extended-custom-icon.icon-wpb-product-list{
	 background-position: -1152px 0;
}
.extended-custom-icon.icon-wpb-product-list-simple{
	background-position: -1216px 0;
}
.extended-custom-icon.icon-wpb-section-title{
	background-position: -1248px 0;
}
.extended-custom-icon.icon-wpb-separator{
	background-position: -1280px 0;
}
.extended-custom-icon.icon-wpb-social-share{
	background-position: -1312px 0;
}
.extended-custom-icon.icon-wpb-tabs{
	background-position: -1344px 0;
}
.extended-custom-icon.icon-wpb-tab{
	background-position: -1376px 0;
}
.extended-custom-icon.icon-wpb-team{
	background-position: -1408px 0;
}