@media only screen and (max-width: 1024px){
/* generated in /home/nesta.vn/public_html/wp-content/themes/ambient/assets/custom-styles/general-custom-styles-responsive.php ambient_elated_content_responsive_styles function */
.eltdf-content .eltdf-content-inner > .eltdf-container > .eltdf-container-inner, .eltdf-content .eltdf-content-inner > .eltdf-full-width > .eltdf-full-width-inner { padding-top: 40px!important;}

}

@media only screen and (min-width: 769px) and (max-width: 1024px){
}

@media only screen and (min-width: 481px) and (max-width: 768px){
}

@media only screen and (max-width: 480px){
}