/*
Theme Name: Ambient
Theme URI: http://ambient.elated-themes.com
Description: A Contemporary Theme for Interior Design, Decoration, and Architecture
Author: Elated Themes
Author URI: http://themeforest.net/user/elated-themes
Text Domain: ambient
Tags: one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, custom-menu, featured-images, flexible-header, post-formats, sticky-post, threaded-comments, translation-ready
Version: 1.0
License: GNU General Public License
License URI: licence/GPL.txt

CSS changes can be made in files in the /css/ folder. This is a placeholder file required by WordPress, so do not delete it.

*/

.eltdf-column.footer_col2{
	width: 100% !important;
}

#onesignal-bell-launcher{
	display: none;
}

#tu-van-thiet-ke-mien-phi .form-cover{
	border: 3px solid #fff;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.form-cover .fc-form .form-page .form-page-content{
	padding: 1.5em 115px 0 1.5em !important;
}

.form-cover .fc-form .form-page .form-page-content .form-element .form-element-html{
	padding: 0 3.5em 1.5em 0 !important;
}


.textarea-cover.field-cover textarea{
	height: 63px !important;
	min-height: 63px !important;
}

.form-cover .fc-form .form-page .form-element-type-submit .form-element-html .submit-cover .submit-button{
	padding: 20.5px 0px 20.5px 0px !important;
}

.form-cover .fc-form .form-page .form-element-type-submit .form-element-html .submit-cover .submit-button span.text {
	text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
}

#tu-van-thiet-ke-mien-phi .form-cover form .customText-cover{
	padding-top: 0.5em !important;
	padding-bottom: 0.5em !important;
    font-size: 24px;
}

.vc_row-has-fill>.vc_column_container>.vc_column-inner {
	padding-top: 20px !important;
}

.eltdf-masonry-gallery-holder .eltdf-mg-item.eltdf-mg-standard img{
	width: 100%;
}

.why_choose .vc_column-inner .wpb_wrapper .eltdf-iwt .eltdf-iwt-icon{
	width: 100%;
    height: 90px;
}

/*.why_choose .vc_column-inner .wpb_wrapper .eltdf-iwt .eltdf-iwt-icon a{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}*/

.why_choose .vc_column-inner .wpb_wrapper .eltdf-iwt .eltdf-iwt-content .eltdf-iwt-title{
	font-size: 19px;
}

.why_choose .vc_column-inner .wpb_wrapper .eltdf-iwt .eltdf-iwt-content .eltdf-iwt-text{
	font-size: 13px !important;
}

.why_choose .vc_column-inner .wpb_wrapper .buttom_why{
	display: block;
	text-align: center;
}

.page_header{
	position: fixed !important;
	background: #fff !important;
}

.page_header .header-appear{
	display: none !important;
}

.home .page_header{
	position: relative !important;
}

.home .page_header .header-appear{
	display: block !important;
}

.eltdf-content .eltdf-content-inner{
	margin-top: 65px !important;
}

.home .eltdf-content .eltdf-content-inner{
	margin-top: 0px !important;
}

.nesta_widget_class{
	margin-bottom: 0px !important;
}

.widget_a2a_follow_widget{
	padding-left: 10px;
}


.rev_slider li.tp-revslider-slidesli:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
}

eltdf-vertical-align-containers .eltdf-position-right {
    display: flex;
    display: -webkit-flex;
}

.formcraft-css .fc-form .form-element .error{
	top: -10px !important;
	font-size: 16px !important;
	background: none !important;
	left: 0px !important;
	right: unset !important;
}

.formcraft-css .fc-form .form-element .field-cover::after{
	content: "" !important;
}

.home .page_header .header-appear{
	display: none !important;
}

.eltdf-page-header .eltdf-sticky-header .eltdf-position-right-inner {
    display: none !important;
}

#tu-van-thiet-ke-mien-phi .eltdf-row-grid-section{
	width: 100% !important;
}

.form-cover form .form-element-type-textarea{
	position: relative;
}

.textarea-cover.field-cover.has-input::before{
	content: "(Ví dụ: Tôi muốn thiết kế một căn hộ 100m2 gồm 3 phòng ngủ ... )";
    position: absolute;
    color: #676767;
    width: 100%;
    height: 30px;
    z-index: 99;
    top: 27px;
    left: 15px;
    text-align: left;
    letter-spacing: 1px;
    font-size: 11px;
    font-style: italic;
}

.textarea-cover.field-cover.has-input.hide-before::before{
	content: "";
}

.eltdf-mg-item-outer .eltdf-mg-item-inner .eltdf-mg-item-text{
	display: none;
}

#cong-trinh .wpb_wrapper .eltdf-masonry-gallery-holder .eltdf-mg-inner article.eltdf-mg-item{
	padding: 4pt;
}

.essb_links.essb_counters{
	display: none;
}


@media(max-width: 768px){
	.textarea-cover.field-cover.has-input::before{
		display: none;
	}

	.eltdf-mobile-header{
		position: unset !important;
	}

	.form-cover .fc-form .form-page .form-page-content{
		padding: 1.5em 0 0 1.5em !important;
	}

	.form-cover .fc-form .form-page .form-page-content .form-element .form-element-html{
		padding: 0 1.5em 1.5em 0 !important;
	}
}

@media(max-width: 425px){
	#tu-van-thiet-ke-mien-phi .form-cover{
		padding-bottom: 15px;
	}

	.form-cover form.fc-form{
		width: 100% !important;
	}

	.formcraft-css .fc-form .form-element .form-element-html{
		padding: 0 1.5em 1.5em 1.5em;
	}

	.formcraft-css .fc-form .form-element .field-cover.customText-cover p{
		font-size: 19px !important;
	}

	.eltdf-row-grid-section .vc_row.wpb_row .why_choose{
		margin-top: 20px;
	}

	.vc_column-inner .wpb_wrapper .wpb_text_column .wpb_wrapper h2 span{
		font-size: 15pt !important;
	}

	.eltdf-row-grid-section .vc_column-inner .wpb_wrapper .wpb_text_column .wpb_wrapper h2 span{
		font-size: 15pt !important;
	}
}

@media(max-width: 375px){
	.formcraft-css .fc-form .form-element .field-cover.customText-cover p{
		font-size: 16px !important;
	}
}

.why_choose .vc_column-inner .wpb_wrapper .eltdf-iwt .eltdf-iwt-icon a .essbis-container{
	display: none !important; 
}

@media(max-width: 1024px){
	.eltdf-mobile-header .eltdf-mobile-header-inner .eltdf-mobile-nav{
		z-index: 999;
	    position: absolute;
	    top: 101px;
	}

	.eltdf-mobile-header .eltdf-mobile-header-inner .eltdf-mobile-nav ul li{
		padding-left: 45px !important;
	}
}